*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

body{
    background-color: white;
}

#wrapper{
    width:100%;
    margin: 0 auto;
}

header{
    position: fixed;
}

div.menuwrapper{
    width: 100%;
    height: 10vw;
    background-color: white; 
    margin-left: 22vw;
    float: left;
    z-index: 0;
}

#logo{
    width: 12vw;
    height: auto;
    max-width: 13.5vw;
    margin: 0.5vw 0 0.5vw 10vw;
    position: absolute;
    display: inline-block;
    float: left;
    z-index: 10; 
}

#logo_main{
    width: 32vw;
    height: auto;
    display: block;
    position: absolute;
    margin: auto;
    top: 12vw;
    left: 34vw;
}
                                        /*      FOOTER      */
.footermobile{
    display:none;
}

footer{
    width: 100%;
    height: 3.5vw;
    background-color: white;
    color: black;
    position: relative;
    bottom:-15vw;
    border-top: solid 0.09vw black;
}

.footer{
    width: 80vw;
    font-size: 0.8vw;
    text-align: center;
    margin: 0.2vw auto 0.2vw;
    padding-top: 0.5vw;
}

.catchfoot{
    display: none;
}
footer:hover .dropfoot{
    display: none;
}
footer:hover .catchfoot{
    display: inline;
}

                                        /*      MENU        */
.menu1{
    background-color: white;
    font-size: 1.4vw;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 1.05vw 1.05vw;
    margin: 2.5vw 2.5vw 4vw 2vw;
    border-bottom-color: black;
    border-right: none;
    border-top: none;
    border-left: none;
    vertical-align: bottom;
    display: inline-block;
    cursor: pointer;
    z-index: 6; 
    min-width:9.2vw;
}

.menu1:hover{
    background-color: #393186; 
    color: white;
    border-bottom-color: white;
}

.dropdown-content {
    background-color: white;
    margin: 1vw -1.05vw;
    display: none;   
}

button.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    z-index: 8;
}

button.dropdown:hover .drop{
    width: 8.2vw;
    background-color: #cdcdcd;
    font-size: 1.2vw;
    color: black;
    text-align: left;
    text-decoration: none;
    padding: 1vw 0 1vw 1vw ;
    outline: 8vw;
    outline-color: black;
    cursor: pointer;
    display: block;
    float: none;
    z-index: 10;
    
}

button.dropdown:hover .drop:hover {
    background-color: #898989;
}

.drop.last{
    border-radius: 0 0 0.5vw 0.5vw;
}

                                    /*      CONTENT       */
div.page{
    max-width: 54vw;
    position: relative;
    top: 14vw;
    left: 2vw;
    margin: auto;
    display: block;
    z-index: -2;
    min-height: 60.8vh;
}

div.page1{
    max-width: 54vw;
    position: relative;
    left: 2vw;
    margin: auto;
    display: block;
    z-index: -2;
    min-height: 60.8vh;
}

iframe{
    border: none;
    width: 100%;
    position: absolute;
    top: 12vw;
    margin: auto;
    display: block;
    z-index: -1;
    min-height: 75.65vh; 
}
#inside{
    display:none;
}

h.naglowek{
    font-weight: bold;
    font-size: 2vw;
}

.tekst{
    font-size: 1.1vw;
    text-align: justify;
}

aside{
    display: block;
    float: left;
}

ul.tekst{
    font-weight: 400;
}

.nag{
    font-size: 1.5vw;
    font-weight: 500;
}
                                    /*      CONTACT     */
div.contact{
    text-align: center;
    position: relative;
    top: 14vw;
    margin: auto;
    display: block;
    z-index: -1;
    min-height: 60.8vh;
}

h.contact{
    font-size: 1.3vw;
    font-weight: bold;
    margin: 1vw;
    
}

p.contact{
    font-size: 1vw;
}

#contact{
    padding: 0.5vw 1vw;
    font-size: 1.5vw;
    background-color: #393186;  
    color: white;
    position: absolute;
    left: 69vw;
    top: 35vw;
    cursor: pointer;
    display: none;
}


                                /*       MENU2      */
aside{
    position: fixed;
}

#menu2wrapper{
    position: absolute;
    left: 11vw;
}

.menu2{
    width: 10vw;
    height: 2vw;
    background-color: lightgray;
    font-size: 1vw;
    text-align: center;
    margin: 0.8vw 0;
    border: none;    
    cursor: pointer;
}

.menu2:hover{
    background-color: whitesmoke;
}

                            /*      LISTS       */

ul{
    margin-top: 3vw;
    margin-bottom: 4vw;
}

li{
    margin-bottom: 1.5vw;
    margin-left: 2vw;
}
#mapa{
    width:40vw;
    height:auto;
    margin: 1vw auto 0.5vw 4vw;
}
#mapainfo{
    font-size: 1vw;
    margin: 0 auto 4vw 8vw;
    font-weight: 600;
}
                                /*      IMG ON HOVER        */

#img1{
    display: none;
}



                            /*      COOKIES     */
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 2.3vw;
    font-size: 1.2vw;
    color: #ccc;
    line-height: 2vw;
    padding: 1vw 0 1vw 3vw;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 10;
}
#cookieConsent a {
    color: whitesmoke;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 2vw;
    width: 2vw;
    margin: -1vw 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #393186;
    color: white;
    display: inline-block;
    border-radius: 0.5vw;
    padding: 0 2vw;
    cursor: pointer;
    float: right;
    margin: 0 5vw 0 1.5vw;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #393186;
}

                                                /*      LANGUAGE        */
.lang{
    display: inline;
    font-size: 1vw;
    color: #898989;
    border: 0.1vw;
    border-style: solid;
    border-color: #898989;
    border-top: 0vw;
    padding: 0.1vw 0.2vw;
    margin: 0.2vw;
    cursor: pointer;
}

#lang_wrapper{
    position:fixed;
    top:0.5vw; 
    z-index: 6; 
    right:10vw;
}
#lang_wrapper_main{
    position:fixed;
    top:0.5vw; 
    z-index: 6; 
    right:10vw;
}
.mobile_menu, #arrow{
    display:none;
}


                    /*********************      MOBILE      *********************/


@media only screen and (max-width: 850px) {
.mobile_menu, #arrow{
    display:inline;
} 
#arrow{
    font-size: 5vw;
    position: relative;
    top: 0vw;
    left: 0vw;
}
    
#wrapper{
    width: 100%;
    min-height: 67.4vh;
    margin: 0;
}
header{
    position: absolute;
}
                                    /*  LANGUAGE    */
.lang{
    display: inline;
    font-size: 4vw;
    color: #898989;
    border: none;
    padding: 0.5vw 1vw;
    margin: 0.2vw;
    cursor: none;
}
#lang_wrapper_main{
    position: absolute;
    left: 2vw;
    top: 2vw;
}
#lang_wrapper{
    position: absolute;
    right: 22vw;
    top: 4vw;
} 

                                        /*      MENU        */
button.mobile_menu{
    background-color: white;
    border: none;
    position: absolute;
    left: 86vw;
    top: -28vw;
    
}
img.mobile_menu{
    width: 10vw;
    height: 10vw;
}
div.menuwrapper{
    width: 100%;
    height: 10vw;
    background-color: white; 
    margin-left: 0vw;
    float: left;
    z-index: 0;
    position: absolute;
    top: -15vw;
    display: none;
    margin: 0;
}
.menu1{
    background-color: white;
    font-size: 5vw;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 4vw 3vw;
    margin: 0vw;
    border-bottom-color: black;
    border-right: none;
    border-top: none;
    border-left: none;
    vertical-align: bottom;
    display: inline-block;
    cursor: none;
    z-index: 6; 
    min-width: 100vw;
}

.menu1:hover{
    background-color: #393186; 
    color: white;
    border-bottom-color: black;
}

.dropdown-content {
    min-width: 100%;
    height: auto;
    background-color: white; 
    margin: 0vw;
    float: left;
    z-index: 0;
    position: absolute;
    top: 14vw;
    display: none;
    left: 0vw;
    border-top: black solid 0.5vw;
}
.dropdown-content:hover{
    border-color:black;
}

button.dropdown:hover .drop{
    background-color: white;
    font-size: 5vw;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 4vw 0vw;
    margin: 0vw;
    border-bottom-color: black;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: solid black 0.5vw;
    vertical-align: bottom;
    display: inline-block;
    cursor: none;
    z-index: 6; 
    min-width:100vw;
    
}

button.dropdown:hover .drop:hover {
    background-color: #393186;
    color: white;
}

.drop.last{
    border-radius: 0;
}
#arrowdown{
    border-top: black solid 0.5vw;
}
                                        /*      LOGO        */
#logo_main{
    width: 90vw;
    height: auto;
    display: block;
    position: static;
    margin: 15vw 5vw;
}
#logo{
    width: 25vw;
    height: auto;
    max-width: none;
    margin: 0.5vw 0 0.5vw 0.5vw;
    position: absolute;
    display: inline-block;
    float: left;
    z-index: -1;
    top: -28vw;
    left: 2vw;
} 
                                        /*      FOOTER      */
footer{
    width: 100vw;
    height: 26vw;
    background-color: #393186;
    color: white;
    position: relative;
    bottom: 0vw;
    border-top: 0vw;
}

.footer{
    display: none;
}

.footermobile{
    display: block;
    font-size: 3vw;
    padding: 2vw 2vw 1vw;
}

                                    /*      CONTENT       */
div.page{
    width: 95%;
    max-width: 100%;
    position: static;
    margin: 2vw;
    margin-top: 30vw;
    display: block;
    z-index: -2;
    min-height: ;
}

div.page1{
    width: 95%;
    max-width: 100%;
    position: relative;
    left: 0vw;
    margin: auto;
    display: block;
    z-index: -2;
    min-height: auto;
}
#inside{
    display: block;
    min-height: 100%;
    width: 95%;
    max-width: 100%;
    position: static;
    margin-top: 30vw;
    z-index: -2;
}
iframe{
    display: none; 
}

h.naglowek{
    font-weight: bold;
    font-size: 6vw;
    margin-left: 0vw;
}

.tekst{
    font-size: 4vw;
    text-align: justify;
    margin-top: 0vw;
}

aside{
    display: none;
}

ul.tekst{
    font-weight: 400;
}

.nag{
    font-size: 4.5vw;
    font-weight: 500;
}
                                    /*      CONTACT     */
div.contact{
    text-align: left;
    position: static;
    margin-top: 30vw;
    margin-left: 3vw;
    margin-bottom: 4vw;
    display: block;
    z-index: -1;
    min-height: auto;
}

h.contact{
    font-size: 5vw;
    font-weight: bold;
    margin: 0vw;
    
}

p.contact{
    font-size: 4vw;
}

#contact{
    padding: 0.5vw 1vw;
    font-size: 1.5vw;
    background-color: #393186;  
    color: white;
    position: absolute;
    left: 69vw;
    top: 35vw;
    cursor: none;
    display: none;
}

                                /*       MENU2      */

#menu2wrapper{
    display: none;
}

                            /*      LISTS       */

ul{
    padding-top: 3vw;
    margin-bottom: 4vw;
    margin-left: 4vw;
}

li{
    margin-bottom: 3vw;
    margin-left: 2vw;
}
#mapa{
    width: 60vw;
    height: auto;
    margin: 0 17vw;
}
#mapainfo{
    font-size: 2.5vw;
    margin: 0 16vw;
    font-weight: 500;
    text-align: center;
}



                            /*      COOKIES     */
#cookieConsent{
    background-color: rgba(20,20,20,0.8);
    height: 60vw;
    width: 90vw;
    font-size: 8vw;
    color: #ccc;
    line-height: 15vw;
    padding: 5vw 0 1vw 6vw;
    position: fixed;
    top: 12vw;
    left: 2vw;
    display: none;
    z-index: 10;
    border-radius: 5vw;
}
#cookieConsent a {
    color: whitesmoke;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: none;
    height: 10vw;
    width: 10vw;
    margin: -5vw 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #393186;
    color: white;
    display: inline-block;
    border-radius: 2vw;
    padding: 0 4vw;
    cursor: none;
    position: relative;
    right: 27vw;
    top: 5vw;
    margin: 0;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #393186;
}

}

