@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
    min-width: 100%;
}

.offset:before{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;    
}

/*---Nav--*/
.mobile-nav{
    display: none;
}
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6)!important;
    padding: .67rem 0;
}

.navbar-brand img{
    height: 2rem;
}

.navbar-nav li{
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
    color:white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #DA5C5C;
}
.nav-item{
    cursor: pointer;
}
/*---arrow---*/
#arrow{
    width: 4.5rem;
    height: 4.5rem;
    border: 0.3rem solid white;
    border-radius: 50%;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-left: 50vw;    
    margin-top: 5rem;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); 
    cursor: pointer;
}
#arrow:hover{
    -webkit-box-shadow: .1rem .1rem .8rem black;
    box-shadow: .1rem .1rem .8rem black;
}
.ar2{
    position:relative;
    bottom: 2.7rem;
}
.ar3{
    position:relative;
    bottom: 8.5rem;
}
.fa-angle-down{
    -webkit-animation: arrow 1.2s infinite linear;
    animation: arrow 1.2s infinite linear;
}

@-webkit-keyframes arrow{
    0%{-webkit-transform: translateY(-80px);transform: translateY(-80px)}
    50%{-webkit-transform: translateY(0px);transform: translateY(0px)}
    100%{-webkit-transform: translateY(80px);transform: translateY(80px)}
}

@keyframes arrow{
    0%{-webkit-transform: translateY(-80px);transform: translateY(-80px)}
    50%{-webkit-transform: translateY(0px);transform: translateY(0px)}
    100%{-webkit-transform: translateY(80px);transform: translateY(80px)}
}

/*---landing page---*/

.home-inner{
    background-image: url(img/mainbrain.jpg); 
    min-width: 100vw;
}
#home{
    min-width: 100vw;
}
.landing{
    min-width: 100vw;
}
.home-wrap{
    min-width: 100vw;
}
.first-text{
    text-align: center;
    min-width: 100%;
}
.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}
.caption h1{    
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.caption h3{
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;  
}

/*=============Intro SECTION =============*/
.narrow{
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;    
}
.narrow h1 {
    font-size: 2.4rem;
}
iframe{
    width: 65rem;
    height: 36.7rem;
    cursor: pointer;
}
.photobox{
    margin: 0 0 0 1.8rem;
}

.photo{
    width: 28%;
    display: inline;
    margin: 3rem 1rem 2rem;
    cursor: pointer;
}
#myModal{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    border: solid .2rem #DA5C5C;
    border-radius: .8rem;
    background-color: white;
    height: 69%;
}
.wide-photo{
    width: 100%;
    padding: 2rem;
    background-color: white;
}
.close{
    position: absolute;
    z-index: 4;
    right: .5rem;
    color: black;
    cursor: pointer;
    font-size: 2.3rem;
}
.prev{
    display: inline;
    position: absolute;
    bottom: 50%;
    color: black;
    z-index: 4;
    left: .5rem;
    cursor: pointer;
    font-size: 1.5rem;
}
.next{
    display: inline;
    position: absolute;
    bottom: 50%;
    color: black;
    z-index: 4;
    right: .5rem;
    cursor: pointer;
    font-size: 1.5rem;
}
.numbertext{
    color: black;
    position: absolute;
    top: .5rem;
    left: .5rem;
}
.photobox-mobile{
    display: none;
}
/*==== technology section====*/

.jumbotron{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}
h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;  
}
    

.heading-underline{
    width: 14rem;
    height: .2rem;
    background-color: #DA5C5C;
    margin: 0 auto 2rem;  
}

.heading-underline2{
    width: 10rem;
    height: .2rem;
    background-color: #DA5C5C;   
}
.heading-underline3{
    width: 23rem;
    height: .2rem;
    background-color: #DA5C5C;  
}
.heading-underline4{
    width: 13.5rem;
    height: .2rem;
    background-color: #DA5C5C;  
}
.heading-underline5{
    width: 14rem;
    height: .2rem;
    background-color: #DA5C5C;
    margin: 0 auto 2rem;  
}
.feature svg.svg-inline--fa{
    color: #DA5C5C;
}
feature h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}
.feature p{
    font-size: 1.1rem;

}


/*====research setion=====*/
.fixed{
    background-image: url(img/research_img.jpg);
    z-index: -1;
}
.dark{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 7rem 2rem;
}


.fixed-background h3{
    margin-bottom: 2rem;
}
.fixed-background p{
    margin-top: 1.5rem;
}

.research-text{
    font-size: 1.1rem;
}


/*===company section====*/
.company img{
    width: 100%;
    border-radius: 50%;
}

.blockquote .svg-inline--fa{
    color: #DA5C5C;
    margin: 1rem;
}
.company-hr{
    border-top: .2rem solid #DA5C5C;
}
.fa-circle{
    font-size: .7rem;
    padding-bottom: .1rem;
}
/*===publications section====*/
ul.publications{
    margin: 2rem 0;
}
li.publications{
    margin: .5rem 0;   
}

/*===contact===*/
footer{
    background-color: #DA5C5C;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 1rem;
}

footer img{
    height: 2rem;
    margin: 1.5rem 0;  
}

hr.socket{
    width: 100%;
    border-top: .1rem solid white;
    margin-top: 3rem;
}
.justify-content-center{
    text-align: center;
}
.unia-wrapper{
    background-color: white;
    width: 100%;
    height: 4.1vw;
    margin-top: -2rem;
    border-top: solid .1rem #DA5C5C;   
}
#unia{
    max-height: 4vw;
    height: auto;
    width: 30vw;
    margin-left: 35vw;
    margin-top:0;
    margin-bottom:0;
}
/*************---Media Queries--*************/

@media (max-width:767px){
.caption h1{
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
}
.caption h3{
    font-size: 1.2rem;
    padding-bottom: 1.2rem;  
}

.narrow h1 {
    font-size: 1.5rem;
}

.company img{
    width: 50%;
    display: block;
    margin: 0 auto;      
}
#arrow{
    -webkit-box-shadow: .1rem .1rem .8rem black;
    box-shadow: .1rem .1rem .8rem black;
    cursor: none;
}
.research-text{
    margin-right: -1.2rem;
    margin-left: -1.2rem;
}
hr.socket{
    margin-top: 1rem;
}
/*===Nav===*/
.not-mobile-nav{
    display: none;
}
.mobile-nav{
    display: inline;
}
.navbar {
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.8)!important;
    width: 100vw;
    padding: .73rem 0;
}

.navbar-brand img{
    height: 1.67rem;
}
.navbar-nav li{
    padding-right: .7rem;
    padding-left: 4vw;
}

.navbar-dark .navbar-nav .nav-link{
    color:white;
    padding-top: .8rem;
}
    
/*===UNDERLINES===*/
.heading-underline3{
    width: 14rem;
    margin-left: -1.5rem;
}
.heading-underline4{
    width: 9rem;
}
.heading-underline5{
    width: 13.2rem;
}    
/*===publications section====*/
ul.publications{
    margin: 1.5rem -1.3rem;;
}
li.publications{
    margin: .5rem 0;   
} 
/*===intro section===*/
.intro-text{
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}
.intro-h{
    margin-left: -1.5rem;    
}
iframe{
    width: 80vw;
    height: auto;
    margin-left: -15vw;
    cursor: none;
}
.photobox{
    display: none;    
}
.photobox-mobile{
    margin-left: 0rem;
    width: 100%;
    display: block;
}

.photo{
    width: 90%;
    display: block;
    margin: 1rem 1rem ;
    cursor: none;
}
#myModal{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    border: solid .2rem #DA5C5C;
    border-radius: .8rem;
    background-color: white;
    height: 69%;
}
.wide-photo{
    width: 100%;
    padding: 2rem;
    background-color: white;
}
.close{
    position: absolute;
    z-index: 4;
    right: .5rem;
    color: black;
    cursor: pointer;
    font-size: 2.3rem;
}
.prev{
    display: inline;
    position: absolute;
    bottom: 50%;
    color: black;
    z-index: 4;
    left: .5rem;
    cursor: pointer;
    font-size: 1.5rem;
}
.next{
    display: inline;
    position: absolute;
    bottom: 50%;
    color: black;
    z-index: 4;
    right: .5rem;
    cursor: pointer;
    font-size: 1.5rem;
}
.numbertext{
    color: black;
    position: absolute;
    top: .5rem;
    left: .5rem;
}    

/*===NO CURSOR===*/
.nav-item{
    cursor: none;
}
/*===UNIA===*/
.unia-wrapper{
    background-color: white;
    width: 100%;
    height: 3.2rem;
    margin-top: -2rem;
    border-top: solid .1rem #DA5C5C;   
}
#unia{
    max-height: 3rem;
    width: 90vw;
    margin: .1rem 1rem; 
}
    
}